TRAT_IMAGE=ghcr.io/pedroaraujox/trat-controlplane:production
TRAT_CONTAINER_NAME=trat-prod
TRAT_HOSTNAME=trat.outboxtech.com.br
TRAT_ENVIRONMENT_NAME=production
TRAT_PROXY_NETWORK=nginx-proxy_default
TRAT_PROXY_NETWORK_CIDR=REVISE_O_CIDR_DA_REDE_PROXY
TRAT_ADMIN_EMAIL=INFORME_O_EMAIL
TRAT_ADMIN_NAME=Administrador TRAT - Producao
TRAT_ADMIN_PASSWORD=INFORME_OUTRA_SENHA_FORTE_E_EXCLUSIVA
